site_name: MENU_LIB Hierarchical Menu C Library for Embedded Systems
site_description: Generated Automatically form README.md
site_url: https://niwciu.github.io/MENU_LIB/
repo_url: https://github.com/niwciu/MENU_LIB


theme:
  name: material
  language: en
  logo: assets/logo.png
  favicon: assets/logo.png
  features:
    - navigation.instant
    - navigation.top
    - navigation.sections
    - navigation.expand
    - navigation.footer
    - content.code.copy
    # - content.action.edit
    - content.tabs.link
    - content.tooltips
    - content.code.annotate
    - header.autohide
    - footer.social
  palette:
    #dark theme
    - scheme: slate  
      toggle:
        icon: material/weather-sunny
        name: Dark mode
      # primary: green
      accent: deep purple
    #light theme
    - scheme: default  
      toggle:
        icon: material/weather-night
        name: Light mode
      primary: blue
      accent: deep orange
markdown_extensions:
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - toc:
      permalink: true
      toc_depth: 2
  - tables
  - pymdownx.highlight
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true

nav:
  - Home: README.md
  - Architecture: architecture.md
  - Api Reference: api_reference.md
  - Getting Started: getting_started.md
  - Menu Generator: menu_generator.md
  - Examples Info: examples.md
  - Reports: reports.md
  - Contributing: CONTRIBUTING.md
  # - Doxygen docu: doxygen/MENU_LIB_lib_doc/html/index.html

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/niwciu/MENU_LIB
    - icon: fontawesome/solid/envelope
      link: mailto:niwciu@gmail.com
    - icon: simple/youtube
      link: https://www.youtube.com/@MyEmbeddedWay/videos

copyright: Copyright &copy; 2025 niwciu
